@model IEnumerable<Asp.NetCore_Inventory_Order_Management_System.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseLocation.WarehouseLocationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
